body{
    background-image: url("blog-background.jpg");
}

#header {
    background-color: lightyellow;
    height: 115px;
    width: 100%;
    opacity: 0.8;
    margin:0;
    position:fixed;
}

#home {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategrey;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 24px;
}

.anchor {
    text-decoration: none;
    color: black;
}

#myblog {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 48px;
    margin-left: 30px;
    margin-top:30px;
}

#articlelist {
    float: left;
    margin-top:115px;
    width: 25%;
    background-color: lightblue;
    height:100%;
    opacity: 0.5;
    position:fixed;
}

#content {

   position:absolute;
    margin-top:115px;
    margin-left: 25%;
    width: 75%;
    height:100%;
    opacity: 0.8;
    background-size:cover;
}
.ulist
{
    list-style-type:none;
    padding:0;
    margin:0;
    text-align:center;
    
}
.list
{
   background-color: darkred;
    color: darkslategrey;
    border-bottom: thin solid beige;
    font-size: 22px;
    height: 70px;
    font-family:'Architects Daughter', cursive;;
}
.listanchor
{
     text-decoration: none;
    color: white;
}
.list:hover{
    background-color:black;
}
#body
{
    height:100%;
}
#dycontent
{
    background-color: whitesmoke;
    opacity: 0.7;
    position: absolute;
    width: 75%;
    height: auto;
    margin-top: 115px;
    margin-left: 25%;
}
#maintext
{
    margin-left: 50px;
    margin-top: 65px;
    font-size: 24px;
    color: black;
    font-family:'Josefin Slab', serif;
    margin-right:30px;
    text-align: justify;
}
#comment_form
{
    
    font-size: 24px;
    font-family: sans-serif;
    position: relative;
    display: table-footer-group;
}
#comments
{
        margin-left: 50px;
    margin-top: 30px;
}
.comment
{
    font-size: 20px;
    font-family: cursive;
    background-color: azure;
}
.commenter
{
    font-family: monospace;
}
.uigradients{

    background: #0B486B; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0B486B , #F56217); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0B486B , #F56217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}